<div class="outer">
    <div class="inner">
        <h1>
            The requested URL was not found on our server.
            <span><a href="">Go to the homepage </a>>></span>
        </h1>
        <div class="bubble bubble-bottom-left" >
            <div><h2 class="first">404</h2><h2 class="second">ERROR</h2></div>
            <h3>Dude, where's my webpage?</h3>
        </div>
        <p>Jesse Montgomery III,
            <span>
                <a [href]="'title/8859'">
                    Dude, Where's My Car? (2000)
                </a>
            </span> 
        </p>
    </div>
</div>
