<div class="item">
    <div class="close">
        <a [href]="'movie/'+ movie.id">
            <img [src]="movie.posterUrl" [alt]="movie.title + ' poster'">
        </a>
        <div class="info">
            <p>{{index}}.</p>
            <a [href]="'movie/'+ movie.id">
                <h3>{{movie.title}}</h3>
            </a>
            <p>({{movie.releaseDate}})</p>
        </div>
    </div>
    <div class="rating">
        <i class="fa fa-star"></i>
        <p>{{movie.vote}}</p>
    </div>
</div>
