
    <div 
        *ngIf="!isLoading && movies; else loading" 
        class="outer"
    >
        <div (pointerout)="onLeave($event)" (pointerenter)="onEnterMouse()" class="container"(focusin)="onFocusIn()"
        (focusout)="onFocusOut()" >
            <a 
                *ngFor="let movie of movies.slice(0,7); let i = index" 
                [routerLink]="['/title/'+ movie.id]"
                [queryParams]="{TvShow: movie.isTvShow}"
                #searchList
                (pointerenter)="trackHoveredIndex($event)"
                class="items"
            >
                <app-charts-item [movie]="movie" [index]="i + 1"></app-charts-item>
            </a>
        </div>
        <button (click)="onFind()" >See all results for "{{ searchQuery }}"</button>
    </div>
    <ng-template #loading>
        <app-loading-spinner></app-loading-spinner>
    </ng-template>


